<p>Bonjour,<br></p>


<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer votre Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}<br><br>.
</p>

<p>
    Bien cordialement,<br>
    Le Département des services d'information
</p>
