<p>{% trans %}Bonjour{% endtrans %},<br></p>

<p>
    {% trans %}Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant :{% endtrans %}<br><br>
    <a href="{{ signedUrl }}">{% trans %}Confirmer votre Email{% endtrans %}</a>.
    {% trans %}Ce lien expirera dans{% endtrans %} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}<br><br>.
</p>

<p>{% trans %}Bien cordialement{% endtrans %},<br>{% trans %}Le Département des services d'information{% endtrans %}</p>
