<p>Bonjour,</p>

<p>Voici le lien de réinitialisation pour votre compte OGR :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Bien cordialement,<br>
Le Département des services d'information</p>
