.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.overflow-calendar {
  max-height: calc(100vh - 190px);
  min-height: 600px;
}

.overflow-tabs {
  overflow-y: auto;
  max-height: calc(100vh - 190px);
  min-height: 600px;
}

.overflow-accordion {
  overflow-y: auto;
  max-height: calc(100vh - 500px);
}

label.required:after, legend.required:after  {
  content: " *";
  color: red;
}