<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Bienvenue !{% endblock %}</title>

    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    {# Zoom pour téléphone, changer initial-scale pour dézommer #}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {#    logo du site #}
    <link rel="icon" type="image/svg" href="{{ asset('build/images/favicon.svg') }}">

{#    <link rel="stylesheet" href="{{ asset('css/flag-icon.css') }}" />#}

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
{% block body %}{% endblock %}
</body>

</html>
